<article class="post">
  <header>
    <h2 class="post__title">
      Lorem ipsum dolor sit amet.
    </h2>
  </header>
  <div class="post__body">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum dolor repellendus eligendi voluptatum fuga modi vero sunt hic dolores deleniti possimus commodi corrupti voluptate voluptatibus perferendis odit voluptas debitis, rem excepturi similique quaerat? Blanditiis a amet, rerum consequatur doloremque qui excepturi architecto eius perspiciatis id beatae adipisci. Qui, nostrum nobis.
  </div>
</article>